@media(max-width:1799px){
    /* fix the width start */ 
    .aside {
        width: 280px;
    }
    .main{
        width: calc(100% - 280px);
        margin-top: 132px;
    }
    .dashboard_header{
        width: calc(100% - 280px);
    }
    .logo_wrapper{
        width: 280px;
        height: 68px;
    }
    .aside_container {
        margin-top: 58px;
    }
    /* fix the width end */
    .navbar_search_box_input{
        font-size: 14px;
        padding: 9px 14px;
    }
    .sidebar_btn_icon {
        font-size: 16px;
    }
    .navbar_search_box_btn {
        width: 30px;
        height: 30px;
        top: calc(50% - 30px / 2);
        right: 8px;
        font-size: 11px;
    }
    .navbar {
        padding: 7px 20px;
    }
    .sidebar_btn {
        border-radius: 4px;
    }
    .navbar_box_text {
        font-size: 16px;
    }
    .navbar_box1 {
        margin: 0 7px;
        margin-right: auto;
    }
    .navbar_noti_box {
        width: 40px;
        height: 40px;
    }
    .navbar_noti_box i {
        font-size: 14px;
    }
    .nav_pf_box_hol {
        width: 40px;
        height: 40px;
    }
    .nav_pf_box_name {
        font-size: 12px;
        max-width: 81px;
    }
    .nav_pf_box {
        padding: 7px 5px;
        column-gap: 2px;
    }
    .asidbox {
        padding: 8px 8px;
        column-gap: 8px;
    }
    .theme-p,.logout-btn,
    .asidbox_Link2, .asidbox_Link {
        font-size: 15px;
    }
    .asidbox_icons {
        width: 35px;
        height: 35px;
    }
    .asidbox_icons i{
        font-size: 14px;
    }
    .asidbox_LinkIcn {
        font-size: 12px;
    }
    .aside-drop {
        padding: 4px 8px;
        margin-left: 32px;
    }
    .asidbox_Link-wrapper {
        width: calc(100% - 53px);
    }

    .main_body {
        padding: 20px 10px;
    }
}
@media(max-width:1599px){
    /* fix the width start */ 
    .aside {
        width: 240px;
    }
    .asidbox{
        width: 100%;
    }
    .main{
        width: calc(100% - 240px);
    }
    .dashboard_header{
        width: calc(100% - 240px);
    }
    .logo_wrapper{
        width: 240px;
        height: 68px;
    }
    .aside_container {
        margin-top: 58px;
    }
    /* fix the width end */
    .asidbox {
        padding: 5px 5px;
        column-gap: 8px;
    }
}
@media(max-width:1399px){
   
}
@media(max-width:1199px){
   
}
@media(max-width:1023px){
    .logo_wrapper {
        width: 154px;
        height: 68px;
    }
    .aside{
        display: none;
    }
    .main.active,
    .dashboard_header.active,
    .dashboard_header,
    .main {
        width: calc(100%) !important;
    }
    .aside.active{
        display: block;
        width: 240px !important;
        box-shadow: 0 0 0 5000px rgba(0,0,0,0.5);
        z-index: 999999;
    }
    .aside.active .asidbox_Link,
    .aside.active .asidbox_Link-wrapper, .aside.active .asidbox_LinkIcn{
        display: flex;
    }
    .aside.active .asidbox{
        margin-inline:0;
        width: 100%;
    }
    .aside.active .asidbox-sm{
        display: none;
    }
    .aside-drop {
        padding: 4px 8px;
        margin-left: 13px;
        margin-top: 5px;
    }
    .aside.active .aside-drop {
        position: relative;
        width: 90%;
        top: unset;
        transform: none;
        height: auto;
        right: unset;
        background-color: #FBFBFB;
    }
    .asideClose{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        z-index: 99;
        font-size: 14px;
        color: #454545;
        left: 10px;
        top: 10px;
    }
    .pfDropdown{
        inset: 52px 0 auto auto !important;
    }
    .aside.active .theme-p{
        display: block;
    }
    .prdSide1-hdr {
        column-gap: 15px;
        row-gap: 10px;
        margin-bottom: 14px;
    }
    .notiDropDown{
        top: 48px;
    }
}
@media(max-width:767px){
    .navbar_search_box_input{
        display: none;
    }
    .main{
        margin-top: 122px;
    }
    .navbar {
        padding: 7px 12px;
    }
    .main_body {
        padding: 13px 0px;
    }
    .vistsite-btn i{
        display: none;
    }
    .navbar_box_text {
        font-size: 13px;
    }
    .sidebar_btn {
        border-radius: 4px;
    }
    .sidebar_btn_icon {
        font-size: 14px;
    }
    .navbar_search_box_btn {
        position: relative;
        background-color: #24D4FD;
        width: 24px;
        height: 24px;
        top: initial;
        right: initial;
        font-size: 10px;
    }
    .vistsite-btn {
        font-size: 10px;
        column-gap: 2px;
        padding: 7px 7px;
        border-radius: 4px;
        width: 80px;
    }
    .navbar_noti_box i {
        font-size: 12px;
    }
    .navbar_noti_box {
        width: 30px;
        height: 30px;
    }
    .nav_pf_box_hol{
        width: 30px;
        height: 30px;
    }
    .navbar_noti_box::after {
        right: -3px;
        bottom: 7px;
        width: 7px;
        height: 7px;
    }
    .nav_pf_box_name {
        font-size: 10px;
        max-width: 60px;
    }
    .navbar_box2 {
        column-gap: 10px;
    }
    .pfDropdown{
        inset: 40px 0 auto auto !important;
    }
    .navbar_search_box_mobile.active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 55px;
        background-color: #f6f6f6;
    }
    .navbar_search_box_mobile_input {
        width: 90%;
        height: 36px;
        border-radius: 25px;
        border: 1px solid #FBFBFB;
        font-size: 13px;
        padding: 5px 14px;
    }
    .pfDropdown_text {
        font-size: 12px;
    }
    .pfDropdown_text2 {
        font-size: 11px;
    }
    .noti_box-mark,
    .notiHdr {
        font-size: 13px;
        padding: 8px 15px 5px 15px;
    }
    .notiBody {
        padding: 10px 15px 10px 15px;
    }
    .notiDropDown{
        width: 220px;
    }
    .notiFtr {
        padding: 10px 20px;
        font-size: 13px;
    }
    .exprtBox-wrapr{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .exprtBox-wrapr{
        width: calc(100% - 140px);
        justify-content: space-between;
    }
    .prdSide1-hdr2 .checkboxAll-label{
        width: 120px;
    }
    .nav_pf_box_name {
        max-width: 40px;
    }
    .nav_pf_box_hol {
        width: 26px;
        height: 26px;
        border: 2px solid #fff;
    }
    .navbar_noti_box_details_header {
        font-size: 14px;
        padding: 7px 0;
    }
    .navbar_noti_box_no-notification_text {
        font-size: 12px;
        padding-bottom: 6px;
    }
    .navbar_noti_box_details_for_hover {
        height: 39px;
        transform: translateY(-24px);
    }
    .bottom_navbar_datebox i{
        font-size: 10px;
    }
    .navbar_noti_box-ab {
        right: -4px;
        width: 12px;
        height: 12px;
        top: -3px;
        border: 1px solid;
        font-size: 8px;
    }
    .navbar_noti_box {
        width: 26px;
        height: 26px;
        font-size: 10px;
    }
    .notiDropDown{
        width: 210px;
        top: 32px;
        border-radius: 10px;
    }
    .navbar_noti_box_details {
        width: 185px;
        top: 32px;
        border-radius: 10px;
    }
    .navbar_noti_box_details_box {
        padding: 5px 5px;
        border-radius: 5px;
        column-gap: 7px;
    }
    .navbar_noti_box_details_box_name {
        font-size: 13px;
    }
    .navbar_noti_box_details_box_desc {
        font-size: 11px;
    }
    .navbar_noti_box_details_box.unread::after {
        width: 6px;
        height: 6px;
        top: 8px;
        right: 8px;
    }
    .bottom_navbar {
        padding: 8px 13px;
        height: 54px;
    }
    .bottom_navbar_left_page_name {
        font-size: 14px;
    }
    .language_toggle-p {
        font-size: 12px;
    }
    .theme-p, .logout-btn, .asidbox_Link2, .asidbox_Link {
        font-size: 12px;
    }
    .language_toggle_en i, .language_toggle_ar i {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
    .theme-light, .theme-dark {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
    .bottom_navbar_right {
        column-gap: 15px;
    }
    .main {
        margin-top: 108px;
    }
    .allprphdr{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .flex-i.mb-3.gap-2{
        margin-bottom: 7px !important;
    }
    .flex-i.mb-3.gap-2 p{
        font-size: 13px;
    }
    .bottom_navbar {
        padding: 0px 10px;
        height: 43px;
    }
    .main{
        margin-top: 85px;
    }
}
@media(max-width:539px){
    .navbar {
        padding: 6px 10px;
    }
    .vistsite-btn {
        font-size: 9px;
        column-gap: 0px;
        padding: 5px 5px;
        width: 69px;
    }
    .nav_pf_box_name{
        display: none;
    }
    .prdFiltBox-p {
        font-size: 10px;
    }
    .nav_pf_box {
        padding: 3px 3px;
        column-gap: 1px;
    }
    .navbar_noti_box,
    .nav_pf_box_hol {
        width: 24px;
        height: 24px;
    }
    .navbar_box2 {
        column-gap: 7px;
    }
    .navbar_box_text {
        font-size: 10px;
    }
    .language_toggle-p{
        font-size: 13px;
    }
    .navbar_search_box_btn {
        width: 21px;
        height: 21px;
        font-size: 8px;
    }
}